.ab{
    display: grid;
    justify-content: center;
    margin-top: 30px;
    width: 850px;
    margin-left: 200px;
}
h3{
    text-decoration: underline;
    color: orange;
}
.vid{
    display: grid;
    justify-content: center;
    line-height: 30px;
}
video{
    height: 350px;
    width: 620px;
    background-color: cornsilk;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-bottom: 50px;
    
}
h1{
    margin-left: 150px;
}

.sect{
    background-color: blanchedalmond;
    padding-top: 1px;
    padding-bottom: 20px;
    margin-top: 50px;
}
.sl{
    display: flex;
    gap: 50px;
    margin-left: 150px;
    margin-top: 90px;
}
.sl p9{
   font-weight: bolder;
   font-size: 20px;
}

.cont a{
    text-decoration: none;
    color: black;
}

footer{
    display: flex;
    gap: 30px;
    margin-left: 100px;
    
}
.ft{
    height: 66px;
    width: 250px;
    border-radius: 20px;
    margin-left: 40px;
}

hr{
    margin: 30px;
}


