
html,body{
    margin: 0;
}
#hero{
   
   background-image: url('images/bd.jpg');
   background-size: cover;
   /* height: 120%;   
   width: 100%; */

}

.nav{
    display: flex;
    justify-content: space-between;
    align-content:center;
    color: aliceblue;
    font-weight: bold;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 3%;
    list-style: none;
    font-size: medium;
    margin-right: 2%;
    margin-top: 5%;
    cursor: pointer;
    overflow: hidden;

}

.nav-links li a{
    text-decoration: none;
    color: aliceblue;
}
 
.nav-links li a:hover{
    text-decoration: underline orangered ;
    
    /* vertical-align: super; */
}

.nav div{
    font-size: 250%;
    margin-left: 5%;
    margin-top: 5%;
}
.m1{
    justify-content: center;
    color:aliceblue;
    width: 50%;
    margin-left: 30%;
    margin-top: 10%;
}

.fp1{
    display: flex;
    gap: 10%;
    justify-content: center;
    align-items: center;
    
}
#location{
    /* margin-left: 200%; */
    height: 6vh;
    width: 150%;
    border-radius: 10%;
    outline: none; 
    border: none;
}
.ser {
    height: 95%;
    width: 300%;
    border-radius: 10%;
    outline: none; 
    border: none;
    /* align-items: center; */
    
}

.icon{
    height: 60%;
    width: 10%;
    margin-left: 5%;
    margin-top: 2%;
    margin-right: 5%;
}
.search{
    display: flex;
    background-color:white;
    border-radius: 10%;
    outline: none;
    border: none;
    border-color: transparent;
    /* margin-left: 15%; */
    
}
input{
    border: none;
}

.offer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    margin-top: 3%;
    font-size: small;
    margin-left: 10%;
    margin-right: 10%;
       
}
.fd{
    background-color: aliceblue;
    border-radius: 10%;
    padding-left: 1%;
    padding-right: 1%;
    width: 16%;
    margin-bottom: 1%;
}
.im{
    background-color: aliceblue;
    border-radius: 10%;
    padding-left: 1%;
    padding-right: 1%;
    width: 20%;
}
.do{
    background-color: aliceblue;
    border-radius: 10%;
    padding-left: 1%;
    padding-right: 1%;
    width: 15%;
}

.img1{
    height: 15%;
    width: 30%;
    border-radius: 25%;
    margin-left: 45%;
}

.rt{
    height: 5%;
    width: 15%;
    margin-left: 1%;
    margin-bottom: 2%;
}

.offer p{
    background-color:rgb(174, 150, 106);
    margin-right: 30%;
    border-radius: 10%;
    padding: 3% 0% 3% 3%;

        
}

.offer h1{
    font-weight: bolder;
}

.offer a{
    text-decoration: none;
    color: black;
}

.order img{
    height: 50%;
    width: 250%;
    border-radius: 9%;
}
.ord{
    margin-left: 6%;
    margin-right: 15%;
    
}
.or{
    font-size: 200%;
    margin-top: 3%;
    margin-bottom: 2%;
    
}

.order{
    display: flex;
    width: 50%;
    gap: 20%;
    
}

.order p{
    margin-left: 30%;
    margin-top: 10%;
    margin-bottom: 30%;
    width: fit-content;
}
#gro{
    gap: 23%;
}

.order a{
    text-decoration: none;
    color: black;
}

#dineout{
    width: 90%;
    margin-bottom: 7%;
}

.dine{
    display: flex;
    gap: 20%;
    width: 90%;
    
}

.dine img{
    height: 30%;
    width: 140%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}
.flat{
    background-color: rgb(37, 63, 52);
    border-radius: 10px;
    /* margin-right: 10%; */
    padding: 1% 1% 1% 1%;
    color: white;       

}
.up{
    background-color:rgb(95, 158, 116);
    border-radius: 10px;
    /* margin-right: 30%; */
    padding: 1% 1% 1% 1%;
    color: white;

}

#app{
    display: flex;
    background-color:rgb(2, 2, 19);
    color: white;
    margin-top: 5%;

}
#app img{
    height: 80%;
    width: 50%;
    margin-top: 5%;
    margin-left: 40%;
    border-radius: 10%;
}
.p1{
    margin-top: 7%;
    margin-left: 11%;
}


.food{
    margin-left: 10%;
    margin-top: 7vh;
}
.bo p{
    border: solid 1px black;
    border-radius: 10%;
    height: 4%;
    width: 17%;
    background-color:aliceblue;
    padding: 1%;
    /* font-weight: bold; */
}
.bo{
    display: flex;
    gap: 5%;
    text-align: center;
    
}

.sect{
    background-color: blanchedalmond;
    padding-top: 1%;
    padding-bottom: 2%;
    margin-top: 5%;
}
.sl{
    display: flex;
    gap: 5%;
    margin-left: 10%;
    margin-top: 5%;
}
.sl p9{
   font-weight: bolder;
   font-size: 120%;
}

.cont a{
    text-decoration: none;
    color: black;
}

footer{
    display: flex;
    /* gap: 1%; */
    margin-left: 4%;
    
}
.ft1{
    display: flex;
    align-items: flex-end;
    height: 2%;    
    width: 15%; 
    /* border-radius: 20%; */
    margin-left: 10%;
    margin-right: 2%;
   
}

.ft{
    height: 2%; 
    width: 15%;
}

hr{
    margin: 30px;
}

 

#hero{
   min-height: 100vh;
   background-size: cover;
   background-position: center;
}



@media (max-width: 375px){
    .nav-links{
        display: none;
        flex-direction: column;
    }

    #hero{
        
        background-size: cover;
        background-position: center;
    }

    .or{
        font-size: 500%;
    }

    .order{
        flex-direction: column;
        align-items: center;
        font-size: 300%;
    }

    .order img{
        width: 150%;
    }

    .m1{
        /* margin-top: 30px; */
        width: 90%;
        margin: 15% auto;
        text-align: center;
    }

    .fd ,.im,.do {
        padding-right: 50px;
        
    }
    .img1{
        width: 100%;
    }
    .rt{
        width: 20px;
    }

    .fp1{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .offer{
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 90%;
    }

    .offer h1{
        font-size: medium;
    }

    .dine{
        flex-direction: column;
        gap: 30px;
    }

    #app{
        flex-direction: column;
        text-align: center;
    }

    .food {
        flex-direction: column;
        text-align: center;
    }
    .sl{
        flex-direction: column;
        text-align: center  ;
    }
    footer{
        flex-direction: column;
        text-align: center;
        display: grid;
        align-items: center;
    }

    
}

@media (max-width: 320px){
    .nav-links{
        display: none;
        flex-direction: column;
    }

    #hero{
        
        background-size: cover;
        background-position: center;
    }

    .or{
        font-size: 500%;
    }

    .order{
        flex-direction: column;
        align-items: center;
        font-size: 300%;
    }

    .order img{
        width: 150%;
    }
    .search{
        margin-left: 50px;
    }

    .m1{
        /* margin-top: 30px; */
        width: 90%;
        margin: 15% auto;
        text-align: center;
    }

    .fd ,.im,.do {
        padding-right: 50px;
        
    }
    .img1{
        width: 100%;
    }
    .rt{
        width: 20px;
    }

    .fp1{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .offer{
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 90%;
    }

    .offer h1{
        font-size: medium;
    }

    .dine{
        flex-direction: column;
        gap: 30px;
    }

    #app{
        flex-direction: column;
        text-align: center;
    }

    .food {
        flex-direction: column;
        text-align: center;
    }
    .sl{
        flex-direction: column;
        text-align: center  ;
    }
    footer{
        flex-direction: column;
        text-align: center;
        display: grid;
        align-items: center;
    }

    
}


@media (max-width: 425px){
    .nav-links{
        display: none;
        flex-direction: column;
    }

    #hero{
        
        background-size: cover;
        background-position: center;
    }

    .or{
        font-size: 500%;
    }

    .order{
        flex-direction: column;
        align-items: center;
        font-size: 300%;
    }

    .order img{
        width: 150%;
    }

    .m1{
        /* margin-top: 30px; */
        width: 90%;
        margin: 15% auto;
        text-align: center;
    }

    .fd ,.im,.do {
        padding-right: 50px;
        
    }
    .img1{
        width: 100%;
    }
    .rt{
        width: 20px;
    }

    .fp1{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .offer{
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 90%;
    }

    .offer h1{
        font-size: medium;
    }

    .dine{
        flex-direction: column;
        gap: 30px;
    }

    #app{
        flex-direction: column;
        text-align: center;
    }

    .food {
        flex-direction: column;
        text-align: center;
    }
    .sl{
        flex-direction: column;
        text-align: center  ;
    }
    footer{
        flex-direction: column;
        text-align: center;
        display: grid;
        align-items: center;
    }

    
}


@media (max-width: 768px){
    .nav-links{
        /* display: none; */
        flex-direction: column;
    }

    #hero{
        
        background-size: cover;
        background-position: center;
    }

    .or{
        font-size: 500%;
    }
    #location{
        height: 40px;
    }
    .search{
        margin-left: 60px;
    }
    .order{
        flex-direction: column;
        align-items: center;
        font-size: 300%;
    }

    .order img{
        width: 150%;
    }

    .m1{
        /* margin-top: 30px; */
        width: 90%;
        margin: 15% auto;
        text-align: center;
    }

    .fp1{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .offer{
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 90%;
    }

    .offer h1{
        font-size: medium;
    }

    .dine{
        flex-direction: column;
        gap: 30px;
    }

    #app{
        flex-direction: column;
        text-align: center;
    }
    
}


/* biryanipage */
#food{
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10%;
    
}

h1{
    margin-left: 1%;
}
.card{
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    gap: 3%;
    margin-left: 8%;
}
.card img{
    height: 60%;
    width: 35%;
    margin-top: 5%;
    border-radius: 7%;
}
.p0{
    font-weight: bolder;
}
.card button{
    margin-bottom: 5%;
    margin-left: 6%;
}

#grocery{
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;
}



