.life{
    display: grid;
    justify-content: center;
    gap: 50px;
    width: 700px;
    margin-left: 300px;
}
h3{
    font-weight: bold;
}
h1{
    text-decoration: underline;
}

p{
    color: orangered;
}