.form h2{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.form {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 5%;
    background-color:skyblue;
    margin-left: 35%;
    border-radius: 5%;
    padding-bottom: 5%;
    margin-top: 10%;
    margin-right: 43%;
}

a{
    text-decoration: none;
    color: rgb(9, 19, 133);
}
button{
    background-color:rgb(33, 74, 126);
    border-radius: 4%;
    margin-top: 1%;
    color: aliceblue;
    height: 130%;
    width: 70%;
    margin-left: 15%;
    border: none;
    outline: none;
}

.in{
    outline: none; 
    border: none;
    height: 120%;
    margin-left: 10%;
    border-radius: 5%;
}

@media (max-width:768px) {
    .form{
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding-right: 20px;
    }
    .in{
        flex-direction: column;
        text-align: center;
        /* width: 100px; */
    }
}

@media (max-width:325px) {
    .form{
        flex-direction: column;
        text-align: center;
        margin: auto;
        padding-bottom: 45px;
    }
    .in{
        flex-direction: column;
        text-align: center;
        /* width: 100px; */
    }
}