.par{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color:rgba(231, 72, 14, 0.968);
    margin-top: 100px;
    margin-left: 450px;
    margin-right: 400px;
    border-radius: 10px;
    padding-bottom: 10px;
    color: aliceblue;
}

h1{
    margin-left: 60px;
    color: black;
}
.te{
    margin-left:30px ;
    margin-right: 30px;
    border-radius: 10px;
    height: 30px;
}
.bt{
    background-color: cadetblue;
    border-radius: 10px;
    height: 40px;
    width: 110px;
    color: wheat;
    font-weight: bolder;
    margin-left: 100px;
}

.div{
    display: grid;
    margin-left: 100px;
    margin-top: 50px;
}
h2{
    font-weight: bold;
}
.d1{
   background: rgba(97, 129, 97, 0.3);
    margin-right: 800px;
    border-radius: 10px;
    padding: 5px;
    /* opacity: 0.3; */
}